@{
    ViewData["Title"] = "Contact Contact Us";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg"></div>
    <div class="page-header-shape-1">
        <img src="~/wp-content/uploads/2022/07/page-header-shape-1.png" alt="shape">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled ml-0" typeof="BreadcrumbList" vocab="https://schema.org/">
                <!-- Breadcrumb NavXT 7.2.0 -->
                <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Insur." href="https://layerdrops.com/insurwp" class="home"><span property="name">Insur</span></a><meta property="position" content="1"></span></li>
                <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Contact</span><meta property="url" content="https://layerdrops.com/insurwp/contact/"><meta property="position" content="2"></span></li>
            </ul>
            <h2>
                Contact
            </h2>
        </div>
    </div>
</section>
<!--Page Header End-->				<div data-elementor-type="wp-page" data-elementor-id="47" class="elementor elementor-47">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-4a6c8ee1 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4a6c8ee1" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61cfa73a" data-id="61cfa73a" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-4fbc278f elementor-widget elementor-widget-insur-contact-form" data-id="4fbc278f" data-element_type="widget" data-widget_type="insur-contact-form.default">
                        <div class="elementor-widget-container">
                            <!--Contact Page Start-->
                            <section class="contact-page">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-5">
                                            <div class="contact-page__left">
                                                <div class="section-title text-left">
                                                    <div class="section-sub-title-box">

                                                        <p class="section-sub-title">CONTACT US</p>
                                                        <div class="section-title-shape-1">
                                                            <img decoding="async" src="~/wp-content/uploads/2022/07/section-title-shape-1.png" alt="55">
                                                        </div>
                                                        <div class="section-title-shape-2">
                                                            <img decoding="async" src="~/wp-content/uploads/2022/07/section-title-shape-2.png" alt="56">
                                                        </div>
                                                    </div>
                                                    <h2 class="section-title__title">Feel free to get in touch with experts</h2>
                                                </div>
                                                <div class="contact-page__call-email">
                                                    <div class="contact-page__call-icon insur-icon-svg">
                                                        <i aria-hidden="true" class="  fas fa-phone"></i>
                                                    </div>
                                                    <div class="contact-page__call-email-content">
                                                        <h4>
                                                            <a href="tel:9200368090" class="contact-page__call-number">+92 (003) 68-090</a>
                                                            <a href="mailto:needhelp@company.com" class="contact-page__email">needhelp@company.com</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <p class="contact-page__location-text">30 Commecial Broklyn Road <br> Fratton, Australia</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7">
                                            <div class="contact-page__right">
                                                <div class="contact-page__form">
                                                    <div class="wpcf7 no-js" id="wpcf7-f453-p47-o1" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response">
                                                            <p role="status" aria-live="polite" aria-atomic="true">
                                                                <ul></ul>
                                                        </div>
                                                        <form action="https://layerdrops.com/insurwp/contact/#wpcf7-f453-p47-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="453" />
                                                                <input type="hidden" name="_wpcf7_version" value="5.8" />
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f453-p47-o1" />
                                                                <input type="hidden" name="_wpcf7_container_post" value="47" />
                                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                            </div>
                                                            <div class="comment-one__form contact-form-validated">
                                                                <div class="row">
                                                                    <div class="col-xl-6">
                                                                        <div class="comment-form__input-box">
                                                                            <p>
                                                                                <span class="wpcf7-form-control-wrap" data-name="text-927"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your name" value="" type="text" name="text-927" /></span>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-xl-6">
                                                                        <div class="comment-form__input-box">
                                                                            <p>
                                                                                <span class="wpcf7-form-control-wrap" data-name="email-322"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email address" value="" type="email" name="email-322" /></span>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-xl-6">
                                                                        <div class="comment-form__input-box">
                                                                            <p>
                                                                                <span class="wpcf7-form-control-wrap" data-name="text-927"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone number" value="" type="text" name="text-927" /></span>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-xl-6">
                                                                        <div class="comment-form__input-box">
                                                                            <p>
                                                                                <span class="wpcf7-form-control-wrap" data-name="text-9274"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" value="" type="text" name="text-9274" /></span>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        </p>
                                                                    </div>
                                                                    </p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-12">
                                                                        <div class="comment-form__input-box text-message-box">
                                                                            <p>
                                                                                <span class="wpcf7-form-control-wrap" data-name="textarea-512"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" name="textarea-512"></textarea></span>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        <div class="comment-form__btn-box">
                                                                            <p>
                                                                                <button type="submit" class="thm-btn comment-form__btn">
                                                                                    Send a
                                                                                    Message
                                                                                </button>
                                                                            </p>
                                                                            </p>
                                                                        </div>
                                                                        </p>
                                                                    </div>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--Contact Page End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-114fa2d9 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="114fa2d9" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-218929e6" data-id="218929e6" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-21c4c94d elementor-widget elementor-widget-insur-call-to-action" data-id="21c4c94d" data-element_type="widget" data-widget_type="insur-call-to-action.default">
                        <div class="elementor-widget-container">
                            <!--CTA One Start-->
                            <section class="cta-one cta-three">
                                <div class="container">
                                    <div class="cta-one__content">
                                        <div class="cta-one__inner">
                                            <div class="cta-one__left">
                                                <h3 class="cta-one__title">Find a local insurance agent </h3>
                                            </div>
                                            <div class="cta-one__right">
                                                <div class="cta-one__call">
                                                    <div class="cta-one__call-icon insur-icon-svg">
                                                        <i aria-hidden="true" class="  fas fa-phone"></i>
                                                    </div>
                                                    <div class="cta-one__call-number">
                                                        <a href="tel:9200368090">+92 (003) 68-090</a>
                                                        <p>Call to Our Experts</p>
                                                    </div>
                                                </div>
                                                <div class="cta-one__btn-box">
                                                    <a href="../about/index.html" class="thm-btn cta-one__btn">Get a Quote</a>
                                                </div>
                                            </div>
                                            <div class="cta-one__img">
                                                <img decoding="async" src="../wp-content/uploads/2022/07/cta-one-img.png" alt="alt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--CTA One End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-1c0bbc56 elementor-section-full_width google-map-two elementor-section-height-default elementor-section-height-default" data-id="1c0bbc56" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6317a68c" data-id="6317a68c" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-77577b9f elementor-widget elementor-widget-insur-google-maps" data-id="77577b9f" data-element_type="widget" data-widget_type="insur-google-maps.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-custom-embed">
                                <iframe src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}